.messagesBox {
  width: 600px;
  border-radius: 0.8rem;
  margin: 1.2rem 1.8rem;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  background-color: white;

  :global {
    .ant-btn.ant-btn-primary {
      border-color: #5c5fee;
      background: #5c5fee;
      margin: 0 0.4rem;
      font-size: 12px;

      &:hover {
        background-color: #2d30d2;
        box-shadow: 0 3px 6px 1px rgb(0 0 0 / 17%), 0 2px 4px -2px rgb(0 0 0 / 21%);
      }
    }
    .ant-modal {
      top: 2.4rem;
    }
  }
}

.profileImage {
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.profileImage > img {
  width: 100%;
}

.profileBrief {
  color: #5a5b87;
  font-size: 14px;
  font-weight: 600;
}

.message {
  // border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 2.4rem;
  // padding: 1.2rem;
  border-bottom: none;
}

:global {
  .ant-modal-body {
    top: 1.8rem;
    height: max-content;
    padding: 1rem 2.4rem;
    // overflow: scroll;
  }
  .ant-modal {
    top: 2.4rem;
  }
}


.heading {
  font-size: 1.55rem;
  margin-bottom: 0.8rem;
}

.messagesBoxUserList {
  display: flex;
  width: 318px;
  background-color: #f6f7ff;
  margin-bottom: 6px;
  padding: 2px;
  box-shadow: 0 0px 2px 0px rgb(0 0 0 / 17%), 0 2px 4px -2px rgb(225 225 225 / 21%);
  justify-content: space-between;
  align-items: center;
}

.profileImageUserList {
  width: 3rem;
}

.profileImageUserList > img {
  width: 100%;
}

.profileBriefUserList {
  font-size: 10px;
  font-weight: 600;
  color: #5a5b7f;
}

.buttonsUserList > button {
  border-radius: 0.6rem;
  height: 27px;
  padding: 4px 10px 4px 10px;
  background-color: #5c5fee;

  &:hover {
    background-color: #2d30d2;
    box-shadow: 0 3px 6px 1px rgb(0 0 0 / 17%), 0 2px 4px -2px rgb(0 0 0 / 21%);
  }
}

.buttonsUserList > button > span {
  font-size: 10px;
}

.headingUserList {
  color: black;
}

// css for website responsiveness
@media only screen and (max-width: 768px) {
  .messagesBox {
    width: 340px;
  }
}
