.searchPage {
  padding: 1.8rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }

  p {
    font-size: 1.4rem;
  }

  .content {
    padding: 1.2rem;
  }

  .heading {
    text-align: center;
    margin-bottom: 1.6rem;
  }
}

.recommendationsPage {
  padding: 1.2rem;

}

.searchPageHeading {
  width: 645px;
  border-left: 5px solid rgb(93, 96, 238);
  padding: 12px 32px;
  box-shadow: rgb(227 227 227) 0px 0px 3px 0px;
  color: rgb(90 91 127);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 0px;
  background-color: white;
  border-radius: 0.4rem;
}
