.oldMessages {
  .sender,
  .receiver {
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start; // vertical
    .image {
      img {
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 1rem;
      }
    }
    .messageText {
      // text-align: justify;
    }
    border-radius: 1.2rem;
    border-bottom: 1px dotted #5c5fee;
  }

  .receiver {
    flex-direction: row-reverse;
  }
}
