.oldMessages {
  .sender,
  .receiver {
    padding: 0.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #edeaea;
    .image {
      img {
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 1rem;
        width: 4rem;
      }
    }
    .messageText {
      // text-align: justify;
    }
  }

  .receiver {
    flex-direction: row-reverse;
  }
}

