.oldMessages {
  .sender,
  .receiver {
    display: flex;
    justify-content: flex-start; // vertical
    .image {
      img {
        border-radius: 50%;
        border: 1px solid black;
      }
      width: 25%;
    }
    .messageText {
      width: 75%;
      text-align: justify;
    }
    border-radius: 1.2rem;
    border-bottom: 1px solid #5c5fee;
  }

  .receiver {
    flex-direction: row-reverse;
  }
}
