.superContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .searchResults {
    h2 {
      font-size: 1.4rem;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1.8rem;
  border-radius: 2.4rem;
  margin-bottom: 2.4rem;
}

.searchProfiles {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .col1,
  .col2 {
    flex: 1 1 0;
    margin: 1.8rem;
  }

  :global {
    span.ant-slider-mark-text.ant-slider-mark-text-active:first-child {
      padding-right: 2rem;
      font-size: 1.2rem;
    }

    span.ant-slider-mark-text.ant-slider-mark-text-active:last-child {
      padding-left: 2rem;
      font-size: 1.2rem;
    }

    .ant-slider-handle {
      width: 1.8rem;
      height: 1.8rem;
      border: solid 2px #5c5fee;
    }

    .ant-slider:hover .ant-slider-track {
      background-color: #5c5fee;
      height: 8px;
    }

    .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
      border-color: #5c5fee;
    }

    .ant-slider-track {
      position: absolute;
      height: 8px;
      background-color: #5c5fee;
      border-radius: 2px;
      transition: background-color 0.3s;
    }

    .ant-slider-rail {
      position: absolute;
      width: 100%;
      height: 8px;
      background-color: #857e7e;
      border-radius: 2px;
      transition: background-color 1s;

      &:hover {
        background-color: #5c5fee;
      }
    }

    .ant-select {
      width: 150px !important;
    }

    .ant-form-item-label {

      // text-align: left;
      label::after {
        margin: 0 3rem;
      }
    }
  }
}

.submitBtn {
  :global {
    button.ant-btn.ant-btn-round {
      margin: 0.4rem 0.4rem;
    }

    .ant-btn-primary {
      border-color: #5c5fee;
      background: #5c5fee;
    }

    .ant-btn-round {
      height: 36px;
    }
  }
}