.superContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.leftContainer {
  width: 60%;
  background-image: url('../../assets/images/loginPage.jpg');
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center; /* optional, center the image */
}

.rightContainer {
  display: flex;
  width: 40%;
  height: 100vh;
  background-color: #ebedf9;
  align-items: center;
  justify-content: center;
}

.loginBox {
  & p {
    text-align: center;
  }
}

.logInLogo {
  font-family: 'Italianno', cursive, 'Lato', sans-serif;
  font-size: 53px;
  background: linear-gradient(to right, #fe3b3b 4%, #b92a2a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 12px #979797;
}

.signInText {
  color: #222f81;
  font-weight: 600;
  margin-bottom: 30px;
}

.paragraph {
  margin: 12px 0px;
  color: #313f97;
}

.link {
  font-weight: bold;
  color: #222f81;
  &:hover {
    cursor: pointer;
  }
}
