.btn {
  border: none;
  background-color: #d42c3d;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
  width: 252px;
  border-radius: 6px;
  box-shadow: 0px 0px 26px 1px #c0bebe;
  margin-top: 26px;
  cursor: pointer;
}
