.btn {
  border: none;
  color: white;
  background-color: #5e68a4;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 48px;
  cursor: pointer;
  &:active {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

.btnRed {
  @extend .btn;
  background-color: #d42c3d;
}

.btnGreen {
  @extend .btn;
  background-color: #2fd42c;
}

.btnBlue {
  @extend .btn;
  background-color: #4656eb;
}

.btnUpgrade {
  @extend .btn;
  border-radius: 24px;
  padding: 8px 18px;
}

.btnLoginSignup {
  @extend .btn;
  font-size: 16px;
  width: 252px;
  border-radius: 8px;
  margin-top: 28px;
  background-color: #d42c3d;
  box-shadow: 0px 0px 12px 4px #c0bebe;
}

.btnMailboxSend {
  @extend .btn;
  background-color: #8f93ff;
  box-shadow: 0px 0px 12px 4px #c0bebe;
}

.btnMailboxShowMsg {
  @extend .btn;
  background-color: #d4d900;
}

.btnLoadMore {
  @extend .btn;
  background-color: #5e68a4;
}
