.antdSelect {
    border: 2px solid #bababa;
    padding: 4px 12px;
    width: 250px !important;
    border-radius: 13px;
    margin-bottom: -10px;
    font-family: 'Lato';

    

  }

  .ant-select > .ant-select-selector{
    background-color: blue;
}

.ant-select.ant-select-in-form-item{
    width:250px
}


