.userProfileCard{
    padding: 2rem;
    border-bottom: 1px solid #5c5fee;
    border-radius: 1.5rem;
    margin: 1.5rem;
    box-shadow: rgb(125 125 125 / 35%) 0px 1px 9px 1px;
}

.cardTitle{
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #dcdbdb;
    padding: 8px 8px 8px 0px;
    color: #616161;
}

.cardChildren{
    color: #a0a0a0;
    padding: 8px 8px 8px 0px;
    font-size: 14px;
}