.userProfileCard{
    width: 600px;
    padding: 2rem;
    background-color: white;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}

.cardTitleWrpper{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #dcdbdb;
    padding: 8px 8px 8px 0px;
    color: #616161;
}

.profileCardButton {
    background-color: #5c5fee;
    margin: 0.4rem 0rem;
    height: 3.2rem;
    border-radius: 0.6rem;
    box-shadow: 0 3px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);

    &:hover{
    background-color: #2d30d2;
    box-shadow: 0 3px 6px 1px rgb(0 0 0 / 17%), 0 2px 4px -2px rgb(0 0 0 / 21%);
    }
}

.cardChildren{
    color: #a0a0a0;
    padding: 8px 8px 8px 0px;
    font-size: 14px;
}

