.fieldAndValues{
    margin-top: 15px;
}
.field{
    color: #959494;
    margin-bottom: 4px;
}

.description{
    font-size: 16px;
    color: #5c6cf0;
}

.value{
    font-size: 16px;
    color: #5c6cf0;
}