.container {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;

  .profileSummary {
    margin-bottom: 40px;
  }

  .quickInfoBarWraper {
    margin-bottom: 40px;
  }

  .menu {
    :global {
      .ant-menu-item.ant-menu-item-selected {
        background-color: #f5f6ff;
        border-radius: 0.8rem;
        color: #565676;
      }
      .ant-menu-item {
        color: #a6a7b2;
      }

      .ant-menu-item.ant-menu-item-selected > .ant-menu-item-icon {
        color: #5c5fee;
      }
    }
  }

  .logoutBtn{
    margin-top: 25px;
  }

  .logoutBtn > button{
    border-radius: 6px;
    text-align: left;
    font-weight: 700;
    color: #a6a7b2;
  }
}
