.container {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
}

.profileSummary {
  margin-bottom: 40px;
}

.quickInfoBarWraper {
  margin-bottom: 40px;
}

.logoutBtn{
  margin-top: 25px;
}

.logoutBtn > button{
  border-radius: 6px;
  text-align: left;
  font-weight: 700;
  color: #a6a7b2;
}