.mailBox {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    h2 {
      font-weight: bold;
      font-size: 2.4rem;
    }
  }
  .content {
    padding: 1.2rem;
  }
}

.pageLoaderSpin {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.maiBoxPageHeading {
  width: 600px;
  border-left: 5px solid rgb(93, 96, 238);
  padding: 12px 32px;
  box-shadow: rgb(227 227 227) 0px 0px 3px 0px;
  color: rgb(90 91 127);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 0px;
  background-color: white;
  border-radius: 0.4rem;
}
