.signUpForm {
  display: flex;
  justify-content: center;
  margin-top: 200px;

  & input {
    width: 300px;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  & button {
    padding: 12px;
    font-size: 18px;
  }
}
