:global {
  .ant-modal-root {
    .ant-modal-header {
      border-top-left-radius: 2.4rem;
      border-top-right-radius: 2.4rem;
    }

    .ant-modal-content {
      border-radius: 2.4rem;
    }

    button.ant-btn {
      border-radius: 2.4rem;
      margin-right: 1rem;

      &:hover {
        border-color: #5c5fee;
        border-radius: 2.4rem;
      }
    }

    .carouselImageClass {
      color: grey
    }

    button.ant-btn.ant-btn-primary {
      margin-top: 2.4rem;
      border-color: #5c5fee;
      background: #5c5fee;
      &:hover{
        background-color: #2d30d2;
        box-shadow: 0 3px 6px 1px rgb(0 0 0 / 17%), 0 2px 4px -2px rgb(0 0 0 / 21%);
        }
    }

    .ant-modal-body {
      .ant-input {
        padding: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .ant-notification-notice {
    border-radius: 2.4rem;
    background: #ffffff;
    color: #5c5fee;
  }

  .ant-notification-notice-message {
    color: #5c5fee;
    font-weight: bold;
  }
}

.userInfoCard {
    width: 600px;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: white;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);

  .img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    object-fit: none;
  }

  .briefIntro {
    h2 {
      color: #5a5b7f;
      font-size: 2.4rem;
      font-weight: 600;
      padding: 1rem 1rem 0.5rem 1rem;
    }

    h4 {
      padding: 0 1rem;
      color: #5a5b7f;
      font-size: 1.4rem;
    }

    p {
      font-size: 1.4rem;
      padding: 1rem;
      line-height: 1.8rem;
    }
  }

  :global {
    .ant-carousel .slick-dots {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    .ant-carousel .slick-dots li,
    .ant-carousel .slick-dots li.slick-active {
      width: 100%;
      height: 0.5rem;
    }

    .ant-carousel .slick-dots li button {
      height: 4px;
    }

    button.ant-btn.ant-btn-round {
      margin: 1.5rem 0.5rem;
    }

    .ant-btn-primary {
      border-color: #5c5fee;
      background: #5c5fee;
    }

    .ant-btn-round {
      height: 3.2rem;
      border-radius: 0.6rem;
      box-shadow: 0 3px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);

      &:hover{
        background-color: #2d30d2;
        box-shadow: 0 3px 6px 1px rgb(0 0 0 / 17%), 0 2px 4px -2px rgb(0 0 0 / 21%);
        }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}