.inputIcon{
    color: #cccccc;   
}

.signUpButton{
    background-color: rgb(91, 99, 230);
    border: none;
    margin-top: 8px;
    font-size: 18px;
    height: 38px;
    border-radius: 0.8rem;
}

