.inputIcon{
    color: #5b63e6;   
}

.signUpButton{
    background-color: rgb(91, 99, 230);
    border: none;
    margin-top: 8px;
    font-size: 18px;
    height: 38px;
    border-radius: 0.8rem;

    &:hover{
        background-color: #4143db;
        box-shadow: 0 3px 6px 1px rgb(0 0 0 / 17%), 0 2px 4px -2px rgb(0 0 0 / 21%);
    }
}

