.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f6f7ff;
}

.navbar {
  height: 60px;
  background-color: #fbfdff;
  border-bottom: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  height: calc(100% - 60px);
}

.sideBar {
  height: 100%;
  width: 240px;
  background-color: white;
}
