.container {
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
  overflow-x: hidden;
  background-color: #f6f7ff;
}

.content {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.sideBar {
  height: 100%;
  width: 18%;
  background-color: white;
  margin-right: 12px;
  overflow: auto;
}

//hide scroll bar but keep funtionality
.sideBar::-webkit-scrollbar {
  display: none;
}

.children {
  width: 57%;
  overflow: auto;
}

.children::-webkit-scrollbar {
  display: none;
}

.quickLinksCard {
  padding: 12px;
  width: 25%;
}
