.container {
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
  background-color: #f6f7ff;
}

.content {
  width: 100%;
  height: calc(100% - 60px);

  display: flex;
  justify-content: space-between;
}

.sideBar {
  height: 100%;
  width: 20%;
  background-color: white;
}

.children {
  width: 55%;
}

.quickLinksCard {
  padding: 12px;
  width: 25%;
}
