.profileSummary {
  :global {
    .ant-image-img {
      border-radius: 12px;
    }
  }
}

.changeImage {
  color: #8282f0;
  text-align: center;
  font-size: 12px;
  margin-top: 6px;
  & a {
    cursor: pointer;
    color: #5c5fee;
  }
}
.userName {
  margin-top: 18px;
  font-size: 28px;
  font-weight: 600;
  color: #5a5b7f;
}
.userDetails {
  margin-top: 8px;
  font-size: 12px;
  color: #a9aab9;
}
