@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.super_container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.left_container{
    width: 60%;
}

.left_container img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.right_container{
    display: flex;
    width: 40%;
    background-color: #EBEDF9;
    align-items: center;
    justify-content: center;
}

.login_box{

}

.login_logo{
    font-family: 'Italianno', cursive;
    font-size: 53px;
    background: linear-gradient(to right, #fe3b3b 4%, #a71e1e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 3px #646b92;
}

.signin_text{
    color: #222F81;
    font-weight: 600;
    margin-bottom: 30px;
}

.email_input{
    background-color: #ffffff00;
    border: 2px solid #A5AEE2;
    width: 234px;
    padding: 7px;
    font-size: 16px;
    border-radius: 8px;
    color: #576194;
    margin-bottom: 24px;
}

.password_input{
    background-color: #ffffff00;
    border: 2px solid #A5AEE2;
    width: 234px;
    padding: 7px;
    font-size: 16px;
    border-radius: 8px;
    color: #576194;
    margin-bottom: 24px;
}

.checkbox_input{

}

.login_remember{

}

.signin_btn{

}