.outerFlexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerFlexBox {
  display: flex;
}

.links {
  text-decoration: none;
  color: #03b7de;
}
